@model firstproject.Models.Addpg

@{
    Layout = "_layoutOwner";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>

    *[role="form"] h2 {
        color: black;
        z-index: 2;
        margin-left: 6em;
        margin-bottom: 1em;
        color: deepskyblue;
    }

    *[role="form"] h5 {
        color:deepskyblue;
        margin-left:4em;
        margin-right: 50px;
        margin: 10px 0;
    }
    *[role="form"] button {
        width: 150px;
        padding: 10px;
        border: none;
        margin-left: 4em;
        border-radius: 5px;
        background-color: deepskyblue;
        font-size: 16px;
        color: black;
        cursor: pointer;
    }

        *[role="form"] button:hover {
            background-color: greenyellow;
        }

    *[role="form"] {
        max-width: 700px;
        margin-top: 20px;
        padding: 20px;
        margin: 0 auto;
        background-color: #FFFFFF;
        border-radius: 0.5em;
        border-color: deepskyblue;
        width: 50%;
        box-shadow: 0 0 20px 0 #095484;
    }
</style>



<div class="container">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data" asp-controller="Addpg" asp-action="Insert">
        <h2>Add your pg</h2>
        <div class="form-group">
            <label for="Title" class="col-sm-3 control-label">Title of your pg:</label>
            <div class="col-sm-9">
                <input type="text" name="title" id="Title" placeholder="Title of your pg" class="form-control" autofocus>

            </div>
        </div>

        <div class="form-group">
            <label for="Type" class="col-sm-3 control-label">Type:</label>
            <div class="col-sm-9">
                <select id="Type" class="form-control" name="type">
                    <option selected value="true">who can offer</option>
                    <option>Girls</option>
                    <option>Boys</option>
                    <option>Both</option>

                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="district" class="col-sm-3 control-label">District:</label>
            <div class="col-sm-9">
                <select id="district" class="form-control" name="district">
                    <option selected value="true">select district</option>
                    <option>Ilam</option>
                    <option>Jhapa</option>
                    <option>Kathmandu</option>
                    <option>Biratnagar</option>
                    <option>Sunsari</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="City" class="col-sm-3 control-label">City:</label>
            <div class="col-sm-9">
                <input type="text" name="city" id="City" placeholder="City" class="form-control" autofocus>

            </div>
        </div>
        <div class="form-group">
            <label for="Rent" class="col-sm-3 control-label">Rent per month:</label>
            <div class="col-sm-9">
                <input type="number" name="rent" id="Rent" placeholder="Rent per month" class="form-control" autofocus>

            </div>
        </div>
        <div class="form-group">
            <label for="Rooms" class="col-sm-3 control-label">Number of rooms:</label>
            <div class="col-sm-9">
                <input type="number" name="rooms" id="Rooms" placeholder="Number of rooms:" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Email" class="col-sm-3 control-label">Email:</label>
            <div class="col-sm-9">
                <input type="email" name="email" id="Email" placeholder="Email" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Address:</label>
            <div class="col-sm-9">
                <input type="text" name="address" id="address" placeholder="Address" class="form-control">

            </div>
        </div>

        <div class="form-group">
            <label for="Picture" class="col-sm-3 control-label">Picture:</label>
            <div class="col-sm-9">
                <input id="picture" type="file" name="file" accept="image/*" />
            </div>
        </div>
        <h5>Facilities*</h5>
        <div class="form-group">
            <label class="control-label col-sm-3">Electricity:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="ERadio" value="Yes" name="electricity">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="eRadio" value="No" name="electricity">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">AC:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="ARadio" value="Yes" name="ac">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="aRadio" value="No" name="ac">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Fan:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="FaRadio" value="Yes" name="fan">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="faRadio" value="No" name="fan">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Parking:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="PRadio" value="Yes" name="parking">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="pRadio" value="No" name="parking">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Fully Furnished:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="FRadio" value="Yes" name="furnished">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="fRadio" value="No" name="furnished">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Internet:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="IRadio" value="Yes" name="internet">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="eRadio" value="No" name="internet">No
                        </label>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Balcony:</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="SRadio" value="Yes" name="security">Yes
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="sRadio" value="No" name="security">No
                        </label>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="Type" class="col-sm-3 control-label">Type of room:</label>
            <div class="col-sm-9">
                <select id="Type" class="form-control" name="types">
                    <option selected value="true">select type of your room</option>
                    <option>Normal</option>
                    <option>Premium</option>
                    <option>Super</option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block" value="Insert" onclick="ShowPopup();">Add</button>
            </div>
        </div>
       
    </form> <!-- /form -->
</div> <!-- ./container -->
@*<input type="button" id="btnpopu" value="Open Modeless popup" onclick="ShowPopup();" />*@
<script type="text/javascript">
    ShowPopup = function () {
        window.open('/Addpg/OpenPopup', "PopupWindow", 'width=200px,height=200px,top=150,left=50%');
    }
</script> 
